/* $Id: imagecrop.css,v 1.1.4.3 2009/06/03 20:03:04 longwave Exp $ */

/* add important to override folks using admin_menu */
body { margin: 0 !important; padding: 0; background: none !important; }

/* default colors and divs */
#imagecrop_presettabs {
  padding: 3px;
  color: #fff;
  font-weight: bold;
  background-color: orange;
}
.imagecrop_tab {
  padding: 1px;
  margin-right: 3px;
  border: 1px solid black;
  font-size: 14px;
}
#imagecrop_presettabs a {
  color: #fff;
  font-weight: bold;
}
.imagecrop_highlight, .imagecrop_highlight {
  background-color: silver;
}

#imagecrop_info  {
  color: #fff;
  font-weight: bold;
  padding: 3px;
  height: 20px;
}
.imagecrop_error {
  background-color: red;
}
.white {
  color: #fff;
}
.imagecrop_warning {
  background-color: orange;
}
#imagecrop_help {
  padding: 3px;
  width: auto;
  background-color: silver;
}
#imagecrop_help a {
  color: #fff;
  font-weight: bold;
  display: block;
}
#imageoffsets .form-button , #imageoffsets .form-submit {
  margin: 2px;
}
#imagecrop_table_actions {
  width: 250px;
  margin: 0;
}
#imagecrop_table_actions tbody {
  border: none;
}
#imagecrop_table_actions td {
  padding: 0;
}

/* Classes and divs to create the crop area */
.imagefield-crop-wrapper { 
  background-color: #ccc;)
  position: absolute;
}

#image-crop-container {
  position: relative;
  background-color: #ccc;
  background-repeat: no-repeat;
  opacity:.2;
  filter: alpha(opacity=20);-moz-opacity: 0.2;
}


#resizeMe{
  position: absolute;
  cursor: move;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 1px dashed black;
}

#resizeSE,
#resizeE,
#resizeNE,
#resizeN,
#resizeNW,
#resizeW,
#resizeSW,
#resizeS { 
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #333;
  border: 1px solid #fff;
  overflow: hidden;
}
    #resizeSE{bottom: -10px;right: -10px;cursor: se-resize;}
    #resizeE {top: 50%;right: -10px;margin-top: -5px;cursor: e-resize;}
    #resizeNE{top: -10px;right: -10px;cursor: ne-resize;}
    #resizeN {top: -10px;left: 50%;margin-left: -5px;cursor: n-resize;}
    #resizeNW{top: -10px;left: -10px;cursor: nw-resize;}
    #resizeW {top: 50%;left: -10px;margin-top: -5px;cursor: w-resize;}
    #resizeSW{left: -10px;bottom: -10px;cursor: sw-resize;}
    #resizeS{bottom: -10px;left: 50%;margin-left: -5px;cursor: s-resize;}


#imagecrop-throbber div { padding-left:18px; background:url(../../../../misc/throbber.gif) no-repeat -18px -18px; width:18px; height:18px; }
#imagecrop-throbber.show div { background-position: 0px -18px; }
