/* $Id: grid16-960.css,v 1.1.2.4 2009/12/02 00:47:46 sociotech Exp $ */

/* Layout - 16 column grid, 960px fixed width, 20px gutters
-------------------------------------------------------------- */

/* grid widths */
.grid16-1 {width: 55px;}
.grid16-2 {width: 110px;}
.grid16-3 {width: 165px;}
.grid16-4 {width: 220px;}
.grid16-5 {width: 275px;}
.grid16-6 {width: 330px;}
.grid16-7 {width: 385px;}
.grid16-8 {width: 440px;}
.grid16-9 {width: 495px;}
.grid16-10 {width: 550px;}
.grid16-11 {width: 605px;}
.grid16-12 {width: 660px;}
.grid16-13 {width: 715px;}
.grid16-14 {width: 770px;}
.grid16-15 {width: 825px;}
.grid16-16 {width: 880px;}

/* block indents */
.grid16-indent-1 {margin-left: 55px;}
.grid16-indent-2 {margin-left: 110px;}
.grid16-indent-3 {margin-left: 165px;}
.grid16-indent-4 {margin-left: 220px;}
.grid16-indent-5 {margin-left: 275px;}
.grid16-indent-6 {margin-left: 330px;}
.grid16-indent-7 {margin-left: 385px;}
.grid16-indent-8 {margin-left: 440px;}
.grid16-indent-9 {margin-left: 495px;}
.grid16-indent-10 {margin-left: 550px;}
.grid16-indent-11 {margin-left: 605px;}
.grid16-indent-12 {margin-left: 660px;}
.grid16-indent-13 {margin-left: 715px;}
.grid16-indent-14 {margin-left: 770px;}
.grid16-indent-15 {margin-left: 825px;}

/* gutters (2 x margin) */
.block .inner {
  margin-left: 10px;
  margin-right: 10px;
}

/* hack to fix node-top & node-bottom being off-grid */
#content-content .node .first .inner {
    margin-right: 20px;
}

body,
div.full-width {
  min-width: 880px;
}
