/**
 * @file: Node gallery slideshow CSS.
 */
#node-gallery-slideshow {
  margin: 5px auto;
  text-align: center;
}

#node-gallery-slideshow-controls {
  padding: 5px;
  margin: 5px auto;
}

#node-gallery-slideshow-controls li {
  list-style: none none inside;
  display: inline;
  background-image: none;
  margin: 0px 20px;
}

#node-gallery-slideshow div.slideshow-container {
  position: relative;
}

#node-gallery-slideshow div.slideshow-container.loading {
  height: 200px;
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

#node-gallery-slideshow div.slideshow-container img {
  position: absolute;
  top: 0px;
  left: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}

#node-gallery-navigator {
  margin: 10px auto;
}

#node-gallery-navigator img {
  margin: 5px;
  border: 1px solid #ccc;
}
