/**
 *	Special Skinr Styles 
 *------------------------------------------------ */
 /*Block List stles*/
  .block.menu-list {
  }
  .block.menu-list h2 {
  }
  .block.menu-list ul {
  list-style-type:none;
  margin:0;
  }
  .block.menu-list ul li {
    background: url("../images/bullet.png") no-repeat scroll 0 6px transparent;
    list-style: none outside none;
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .block.menu-list .content a {
	color: #6C727B;
  }
  .block.menu-list a:hover {
	color:#B1B3B7
  }
/* Block Menu List 2 */  
   .block.menu-list2 {
  }
  .block.menu-list2 h2 {
  }
  .block.menu-list2 ul {
  list-style-type:none;
  margin:0;
  }
  .block.menu-list2 ul li {
    border-bottom: 1px solid #343230;
    list-style: none outside none;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .block.menu-list2 ul li.last {
	border-bottom:none;
  }
  
  .block.menu-list2 .content a {
	color: #6C727B;
  }
  .block.menu-list2 a:hover {
	color:#B1B3B7
  }
/* Right Navigation Menu */
  .block.right-navmenu-list {

  }
  .block.right-navmenu-list .content {

  }
  
  .block.right-navimenu-list h2 {
  }
  .block.right-navmenu-list ul {
  
  list-style-type:none;
  margin:0 0 0 0;
  }
  .block.right-navmenu-list ul li a {
	background:url("../images/hr-bg.gif") repeat-x 0 bottom transparent;
	display:block;
    padding: 6px;
  }
  .block.right-navmenu-list ul>li.active-trail{
	
	font-weight:bold;
  }
  .block.right-navmenu-list ul>li:hover {
	background-color:#f1f1f2;
	}
  .block.right-navmenu-list ul>li:hover a {
	background-color:#f1f1f2;
  }
  
  .block.right-navmenu-list ul li {
    list-style: none outside none;
  }
  .block.right-navmenu-list .content a {
	color: #6C727B;
  }

  .block.right-navmenu-list a:hover {
	color:#7e8084;
  }
  
  /* List Styles */
	/* Ordered List Style. */
/* Unordered List Styles */
div.block.check-list ul,
div.block.comments-list ul,
div.block.arrow-list ul,
div.block.star-list ul,
div.block.userm-list ul,
div.block.userf-list ul,
div.block.documents-list ul,
div.block.download-list ul,
div.block.folderopen-list ul,
div.block.folderclose-list ul,
div.block.alert-list ul,
div.block.info-list ul,
div.block.word-list ul,
div.block.excel-list ul,
div.block.powerpoint-list ul,
div.block.pdf-list ul,
div.block.image-list ul,
div.block.music-list ul,
div.block.video-list ul,
div.block.mail-list ul,
div.block.report-list ul,
div.block.zip-list ul,

ul.check ,
ul.comments-list,
ul.arrow , 
ul.star , 
ul.userm ,
ul.userf ,
ul.download ,
ul.folder-open ,
ul.folder-close ,
ul.alert-list ,
ul.info-list ,
/*filetypes*/
ul.word-list ,
ul.excel-list ,
ul.powerpoint-list ,
ul.pdf-list ,
ul.image-list ,
ul.music-list ,
ul.video-list , 
ul.mail-list , 
ul.report-list ,
ul.zip-list  { margin:0; padding:0; }

div.block.check-list ul li,
div.block.comments-list ul li,
div.block.arrow-list ul li,
div.block.star-list ul li,
div.block.userm-list ul li,
div.block.userf-list ul li,
div.block.download-list ul li,
div.block.documents-list ul li,
div.block.folderopen-list ul li,
div.block.folderclose-list ul li,
div.block.alert-list ul li,
div.block.info-list ul li,
div.block.word-list ul li,
div.block.excel-list ul li,
div.block.powerpoint-list ul li,
div.block.pdf-list ul li,
div.block.image-list ul li,
div.block.music-list ul li,
div.block.video-list ul li,
div.block.mail-list ul li,
div.block.report-list ul li,
div.block.zip-list ul li,

ul.check li,
ul.comments-list li,
ul.arrow li, 
ul.star li, 
ul.userm li,
ul.userf li,
ul.download li,
ul.folder-open li,
ul.folder-close li,
ul.alert-list li,
ul.info-list li,
/*filetypes*/
ul.word-list li,
ul.excel-list li,
ul.powerpoint-list li,
ul.pdf-list li,
ul.image-list li,
ul.music-list li,
ul.video-list li, 
ul.mail-list li, 
ul.report-list li,
ul.documents-list li,
ul.zip-list li { 
list-style:none;
margin-right: 0px;
margin-left: 0px;
padding-left: 20px;
line-height: 16px;
margin-bottom:5px;
}

div.block.check-list ul li,
ul.check li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/check.png");
background-position: 0px 0px;
background-color: transparent;
}

div.block.comments-list ul li,
ul.comments-list li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/comments.png");
background-position: 0px 0px;
background-color: transparent;
}


div.block.arrow-list ul li,
ul.arrow li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/arrow.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.star-list ul li,
ul.star li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/star.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.userm-list ul li,
ul.userm li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/userm.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.userf-list ul li,
ul.userf li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/userf.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.download-list ul li,
ul.download li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/download.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.documents-list ul li,
ul.documents-list li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/icons/16/documents.png");
background-position: 0px 0px;
background-color: transparent;
	display: block;
	margin-bottom: 7px;
}

div.block.folderopen-list ul li,
ul.folder-open li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/folder-open.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.folderclose-list ul li,
ul.folder-close li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/folder-close.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.alert-list ul li,
ul.alert-list li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/alert.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.info-list ul li,
ul.info-list li { 
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/info.png");
background-position: 0px 0px;
background-color: transparent;
}
/*file types*/
div.block.word-list ul li,
ul.word-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/word.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.excel-list ul li,
ul.excel-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/excel.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.powerpoint-list ul li,
ul.powerpoint-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/powerpoint.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.pdf-list ul li,
ul.pdf-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/pdf.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.image-list ul li,
ul.image-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/image.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.music-list ul li,
ul.music-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/music.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.report-list ul li,
ul.report-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/report.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.zip-list ul li,
ul.zip-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/zip.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.video-list ul li,
ul.video-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/video.png");
background-position: 0px 0px;
background-color: transparent;
}
div.block.mail-list ul li,
ul.mail-list li{
background-attachment: scroll;
background-repeat: no-repeat;
background-image: url("../images/typo/mail.png");
background-position: 0px 0px;
background-color: transparent;
}
 
/* Block Nav Menu List 
 *--------------------------------------- */
 .block.nav-menu-list {}
 .block.nav-menu-list h2 {}
 .block.nav-menu-list ul {margin:0;}
 .block.nav-menu-list ul li {list-style:none; margin-bottom:0.5em;}
 .block.nav-menu-list ul li.active-trail a {
	background:url("../images/navmnu-arrow.png") no-repeat 0 center transparent;
    text-decoration: none;
	padding:3px 10px 3px 15px;
	display: inline-block;
    width: 100%;
 }
 .block.nav-menu-list ul li a {padding:3px 10px 3px 15px;}
 .block.nav-menu-list ul li a:hover{
 	background:url("../images/navmnu-arrow.png") no-repeat 0 center transparent;
    text-decoration: none;
	padding:3px 10px 3px 15px;
 }
 
 /* Button Classes */
.btn-download a:hover
{
     background: url(../images/btn-download.png) no-repeat 0px -55px transparent;
     height:55px;
	 width:202px;
	 display:block;
}
.btn-download a
{
     background: url(../images/btn-download.png) no-repeat 0px 0px transparent;
     height:55px;
	 width:202px;
	 display:block;
}

.btn-support a:hover
{
     background: url(../images/btn-support.png) no-repeat 0px -55px transparent;
     height:55px;
	 width:202px;
	 display:block;
}
.btn-support a
{
     background: url(../images/btn-support.png) no-repeat 0px 0px transparent;
     height:55px;
	 width:202px;
	 display:block;
}

.btn-contact a:hover
{
     background: url(../images/btn-contact.png) no-repeat 0px -44px transparent;
     height:43px;
	 width:158px;
	 display:block;
}
.btn-contact a
{
     background: url(../images/btn-contact.png) no-repeat 0px 0px transparent;
     height:43px;
	 width:158px;
	 display:block;
}

/* Block Margin Unit  */
.block-zero-top-margin .content {
	margin-top:0!important;
}
.block-2px-top-margin {
	margin-top:20px;
}

input#edit-vote,
input#edit-submit-gallery,
input#edit-submit-portfolio {
    background: url("../images/apply-btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #1D1D1D;
    font-family: cuprum;
    font-size: 13px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    width: 50px;
}

.avatar-crop-picture:hover {
	border-bottom:2px solid #0092d2;
}

input#edit-vote:hover,
input#edit-submit-gallery:hover,
input#edit-submit-portfolio:hover {
	background-position:0 -29px;
}

.pdf {
    background: url("../images/icons/48/pdf.png") no-repeat scroll 5px 12px transparent;
    min-height: 48px;
    padding: 15px 10px 10px 65px;
    width: 125px;
}