
/* Background colors */

/*body.style-dark #breadcrumbs-wrapper,*/
body.style-dark #preface-top-wrapper,
body.style-dark #smooth-header,
body.style-dark #social-network,
body.style-dark #footer-group,
body.style-dark ul.pager li.pager-current,
body.style-dark div.poll div.bar,
body.style-dark .block.nav-menu-list ul li a:hover,
body.style-dark .block.nav-menu-list ul li.active-trail a {
   /*  background-color: #1d1d1d; */
}

/* Text Colors Light */
body.style-dark .block-lightcolor ,
body.style-dark .block-lightcolor a,
body.style-dark .block-lightcolor a:link,
body.style-dark .block-lightcolor a:visited,
body.style-dark .lightcolor,
body.style-dark .breadcrumbs a:link,
body.style-dark .breadcrumbs a:visited,
body.style-dark #footer h2.title,
body.style-dark #social-network,
body.style-dark .block.nav-menu-list ul li a:hover,
body.style-dark .block.nav-menu-list ul li.active-trail a  {
    color: #999;
}
/* Light Background */
body.style-dark  div.poll div.bar div.foreground  {
	background-color: #919191; /*  4 */
}


/* Text Colors Highlights */
body.style-dark a,
body.style-dark a:link,
body.style-dark a:visited,
body.style-dark .block-highlight,
body.style-dark .block-highlight a,
body.style-dark #search input.form-text,
.highlight {
color: #1d1d1d;
}

/* normal button style */
body.style-dark .node_read a,
body.style-dark .comment_add a,
body.style-dark .book_add_child a,
body.style-dark .book_printer a,
body.style-dark .upload_attachments a,
body.style-dark .comment_new_comments a,
body.style-dark .comment_comments a,
body.style-dark .node_read_more a,
body.style-dark .blog_usernames_blog a,
body.style-dark .comment_forbidden a,
body.style-dark .block-poll ul.links li a {
/*	background-color:#FFF;
	border:1px solid #d3d3d3; */
}

body.style-dark .node_read a:hover,
body.style-dark .comment_add a:hover,
body.style-dark .book_add_child a:hover,
body.style-dark .book_printer a:hover,
body.style-dark .upload_attachments a:hover,
body.style-dark .comment_new_comments a:hover,
body.style-dark .comment_comments a:hover,
body.style-dark .node_read_more a:hover,
body.style-dark .blog_usernames_blog a:hover,
body.style-dark .comment_forbidden a:hover,
body.style-dark .block-poll ul.links li a:hover{
/*	background-color:#1d1d1d;
	border:1px solid #36424a;
	color: #ffffff; */
}
/* Border Bottom */
body.style-dark div.tweet-hr,
body.style-dark .block.menu-list2 ul li {
    border-bottom: 1px solid #343230;
}

/* normal button style end */

/* LIGHTCOLOR button style */
body.style-dark .block-lightcolor .node_read a, body.style-dark .block-lightcolor .node_read a:link,body.style-dark .block-lightcolor .node_read a:visited,
body.style-dark .block-lightcolor .comment_add a, body.style-dark .block-lightcolor .comment_add a:link,body.style-dark .block-lightcolor .comment_add a:visited,
body.style-dark  .block-lightcolor.book_add_child a, body.style-dark  .block-lightcolor.book_add_child a:link,body.style-dark  .block-lightcolor.book_add_child a:visited,
body.style-dark .block-lightcolor.book_printer a, body.style-dark .block-lightcolor.book_printer a:link,body.style-dark .block-lightcolor.book_printer a:visited,
body.style-dark .block-lightcolor .upload_attachments a,body.style-dark .block-lightcolor .upload_attachments a:link,body.style-dark .block-lightcolor .upload_attachments a:visited,
body.style-dark .block-lightcolor.comment_new_comments a, body.style-dark .block-lightcolor.comment_new_comments a:link, body.style-dark .block-lightcolor.comment_new_comments a:visited ,
body.style-dark .block-lightcolor .comment_comments a, body.style-dark .block-lightcolor .comment_comments a:link,body.style-dark .block-lightcolor .comment_comments a:visited,
body.style-dark .block-lightcolor .node_read_more a, body.style-dark .block-lightcolor .node_read_more a:link,body.style-dark .block-lightcolor .node_read_more a:visited,
body.style-dark .block-lightcolor .blog_usernames_blog a, body.style-dark .block-lightcolor .blog_usernames_blog a:link, body.style-dark .block-lightcolor .blog_usernames_blog a:visited,
body.style-dark .block-lightcolor .comment_forbidden a, body.style-dark .block-lightcolor .comment_forbidden a:link, body.style-dark .block-lightcolor .comment_forbidden a:visited,
body.style-dark .block-lightcolor.block-poll ul.links li a,body.style-dark .block-lightcolor.block-poll ul.links li a:link,body.style-dark .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#1d1d1d;
	border:1px solid #0e0e0e;
	color: #e4e4e4;	
}

body.style-dark .block-lightcolor .node_read a:hover,
body.style-dark .block-lightcolor .comment_add a:hover,
body.style-dark .block-lightcolor .book_add_child a:hover,
body.style-dark .block-lightcolor .book_printer a:hover,
body.style-dark .block-lightcolor .upload_attachments a:hover,
body.style-dark .block-lightcolor .comment_new_comments a:hover,
body.style-dark .block-lightcolor .comment_comments a:hover,
body.style-dark .block-lightcolor .node_read_more a:hover,
body.style-dark .block-lightcolor .blog_usernames_blog a:hover,
body.style-dark .block-lightcolor .comment_forbidden a:hover,
body.style-dark .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#fff;
	border:1px solid #cdcdcd;
	color: #1d1d1d; 
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-dark #search {
   /*  background-image: url("../images/search-box.png"); */
	}