
/* Background colors */

body.style-sepia #preface-top-wrapper,
body.style-sepia #smooth-header,
body.style-sepia #social-network,
body.style-sepia #footer-group,
body.style-sepia ul.pager li.pager-current,
body.style-sepia  div.poll div.bar div.foreground ,
body.style-sepia .block.nav-menu-list ul li a:hover,
body.style-sepia .block.nav-menu-list ul li.active-trail a {
    background-color: #402200; /* 5 */
}

/* Text Colors Light */
body.style-sepia .block-lightcolor ,
body.style-sepia .block-lightcolor a,
body.style-sepia .block-lightcolor a:link,
body.style-sepia .block-lightcolor a:visited,
body.style-sepia .lightcolor,
body.style-sepia ul.pager li.pager-current,
body.style-sepia #footer h2.title,
body.style-sepia #social-network,
body.style-sepia .block.nav-menu-list ul li a:hover,
body.style-sepia .block.nav-menu-list ul li.active-trail a  {
    color: #E3D9CF; /* 1 */
}
/* Light Background */
body.style-sepia div.poll div.bar {
	background-color: #593000; /*  4 */
}


/* Text Colors Highlights */
body.style-sepia a,
body.style-sepia a:link,
body.style-sepia a:visited,

body.style-sepia .block-highlight,
body.style-sepia .block-highlight a,
body.style-sepia #search input.form-text,
.highlight {
color: #402200; /* 5 */
}

/* normal button style */
body.style-sepia .node_read a,
body.style-sepia .comment_add a,
body.style-sepia .book_add_child a,
body.style-sepia .book_printer a,
body.style-sepia .upload_attachments a,
body.style-sepia .comment_new_comments a,
body.style-sepia .comment_comments a,
body.style-sepia .node_read_more a,
body.style-sepia .blog_usernames_blog a,
body.style-sepia .comment_forbidden a,
body.style-sepia ul.pager a:link, ul.pager a:visited,
body.style-sepia .block-poll ul.links li a {
/*	background-color:#FFF; /* fixed color */
/*	border:1px solid #d3d3d3; /* fixed color */
}

body.style-sepia .node_read a:hover,
body.style-sepia .comment_add a:hover,
body.style-sepia .book_add_child a:hover,
body.style-sepia .book_printer a:hover,
body.style-sepia .upload_attachments a:hover,
body.style-sepia .comment_new_comments a:hover,
body.style-sepia .comment_comments a:hover,
body.style-sepia .node_read_more a:hover,
body.style-sepia .blog_usernames_blog a:hover,
body.style-sepia .comment_forbidden a:hover,
body.style-sepia ul.pager a:hover,
body.style-sepia .block-poll ul.links li a:hover{
/*	background-color:#402200; /* 5 */
/*	border:1px solid #593000; /*  4 */
/*	color: #C7B39F; /*  2 */; 
}
/* Border Bottom */
body.style-sepia div.tweet-hr,
body.style-sepia .block.menu-list2 ul li {
    border-bottom: 1px solid #593000;
}

/* normal button style end */

/* LIGHTCOLOR button style */
body.style-sepia .block-contact_form_blocks.block-lightcolor input,
body.style-sepia .block-contact_form_blocks.block-lightcolor textarea,
body.style-sepia .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-sepia .block-lightcolor .node_read a, body.style-sepia .block-lightcolor .node_read a:link,body.style-sepia .block-lightcolor .node_read a:visited,
body.style-sepia .block-lightcolor .comment_add a, body.style-sepia .block-lightcolor .comment_add a:link,body.style-sepia .block-lightcolor .comment_add a:visited,
body.style-sepia  .block-lightcolor.book_add_child a, body.style-sepia  .block-lightcolor.book_add_child a:link,body.style-sepia  .block-lightcolor.book_add_child a:visited,
body.style-sepia .block-lightcolor.book_printer a, body.style-sepia .block-lightcolor.book_printer a:link,body.style-sepia .block-lightcolor.book_printer a:visited,
body.style-sepia .block-lightcolor .upload_attachments a,body.style-sepia .block-lightcolor .upload_attachments a:link,body.style-sepia .block-lightcolor .upload_attachments a:visited,
body.style-sepia .block-lightcolor.comment_new_comments a, body.style-sepia .block-lightcolor.comment_new_comments a:link, body.style-sepia .block-lightcolor.comment_new_comments a:visited ,
body.style-sepia .block-lightcolor .comment_comments a, body.style-sepia .block-lightcolor .comment_comments a:link,body.style-sepia .block-lightcolor .comment_comments a:visited,
body.style-sepia .block-lightcolor .node_read_more a, body.style-sepia .block-lightcolor .node_read_more a:link,body.style-sepia .block-lightcolor .node_read_more a:visited,
body.style-sepia .block-lightcolor .blog_usernames_blog a, body.style-sepia .block-lightcolor .blog_usernames_blog a:link, body.style-sepia .block-lightcolor .blog_usernames_blog a:visited,
body.style-sepia .block-lightcolor .comment_forbidden a, body.style-sepia .block-lightcolor .comment_forbidden a:link, body.style-sepia .block-lightcolor .comment_forbidden a:visited,
body.style-sepia .block-lightcolor.block-poll ul.links li a,body.style-sepia .block-lightcolor.block-poll ul.links li a:link,body.style-sepia .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#402200; /* 5 */
	border:1px solid #593000; /*  4 */
	color: #E3D9CF;	/* 1 */
}

body.style-sepia .block-lightcolor .node_read a:hover,
body.style-sepia .block-lightcolor .comment_add a:hover,
body.style-sepia .block-lightcolor .book_add_child a:hover,
body.style-sepia .block-lightcolor .book_printer a:hover,
body.style-sepia .block-lightcolor .upload_attachments a:hover,
body.style-sepia .block-lightcolor .comment_new_comments a:hover,
body.style-sepia .block-lightcolor .comment_comments a:hover,
body.style-sepia .block-lightcolor .node_read_more a:hover,
body.style-sepia .block-lightcolor .blog_usernames_blog a:hover,
body.style-sepia .block-lightcolor .comment_forbidden a:hover,
body.style-sepia .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#593000; /*  4 */
	border:1px solid #402200; /* 5 */
	color: #E3D9CF; /* 1 */
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-sepia #search {
    background-image: url("../images/search-box.png");
	}