
/* Background colors */

body.style-violet #preface-top-wrapper,
body.style-violet #smooth-header,
body.style-violet #social-network,
body.style-violet #footer-group,
body.style-violet ul.pager li.pager-current,
body.style-violet  div.poll div.bar div.foreground ,
body.style-violet .block.nav-menu-list ul li a:hover,
body.style-violet .block.nav-menu-list ul li.active-trail a {
    background-color: #3E144E;
}

/* Text Colors Light */
body.style-violet .block-lightcolor ,
body.style-violet .block-lightcolor a,
body.style-violet .block-lightcolor a:link,
body.style-violet .block-lightcolor a:visited,
body.style-violet .lightcolor,
body.style-violet ul.pager li.pager-current,
body.style-violet #footer h2.title,
body.style-violet #social-network,
body.style-violet .block.nav-menu-list ul li a:hover,
body.style-violet .block.nav-menu-list ul li.active-trail a  {
    color: #E5D4EB;
}
/* Light Background */
body.style-violet div.poll div.bar {
	background-color: #5D1D74;
}


/* Text Colors Highlights */
body.style-violet a,
body.style-violet a:link,
body.style-violet a:visited,

body.style-violet .block-highlight,
body.style-violet .block-highlight a,
body.style-violet #search input.form-text,
.highlight {
color: #3E144E;
}

/* normal button style */
body.style-violet .node_read a,
body.style-violet .comment_add a,
body.style-violet .book_add_child a,
body.style-violet .book_printer a,
body.style-violet .upload_attachments a,
body.style-violet .comment_new_comments a,
body.style-violet .comment_comments a,
body.style-violet .node_read_more a,
body.style-violet .blog_usernames_blog a,
body.style-violet .comment_forbidden a,
body.style-violet ul.pager a:link, ul.pager a:visited,
body.style-violet .block-poll ul.links li a {
/*	background-color:#FFF; 
	border:1px solid #d3d3d3; */ 
}

body.style-violet .node_read a:hover,
body.style-violet .comment_add a:hover,
body.style-violet .book_add_child a:hover,
body.style-violet .book_printer a:hover,
body.style-violet .upload_attachments a:hover,
body.style-violet .comment_new_comments a:hover,
body.style-violet .comment_comments a:hover,
body.style-violet .node_read_more a:hover,
body.style-violet .blog_usernames_blog a:hover,
body.style-violet .comment_forbidden a:hover,
body.style-violet ul.pager a:hover,
body.style-violet .block-poll ul.links li a:hover{
/*	background-color:#3E144E;
	border:1px solid #5D1D74;
	color: #CBA9D7; */
}
/* Border Bottom */
body.style-violet div.tweet-hr,
body.style-violet .block.menu-list2 ul li {
    border-bottom: 1px solid #5D1D74;
}

/* normal button style end */

/* LIGHTCOLOR button style */
body.style-violet .block-contact_form_blocks.block-lightcolor input,
body.style-violet .block-contact_form_blocks.block-lightcolor textarea,
body.style-violet .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-violet .block-lightcolor .node_read a, body.style-violet .block-lightcolor .node_read a:link,body.style-violet .block-lightcolor .node_read a:visited,
body.style-violet .block-lightcolor .comment_add a, body.style-violet .block-lightcolor .comment_add a:link,body.style-violet .block-lightcolor .comment_add a:visited,
body.style-violet  .block-lightcolor.book_add_child a, body.style-violet  .block-lightcolor.book_add_child a:link,body.style-violet  .block-lightcolor.book_add_child a:visited,
body.style-violet .block-lightcolor.book_printer a, body.style-violet .block-lightcolor.book_printer a:link,body.style-violet .block-lightcolor.book_printer a:visited,
body.style-violet .block-lightcolor .upload_attachments a,body.style-violet .block-lightcolor .upload_attachments a:link,body.style-violet .block-lightcolor .upload_attachments a:visited,
body.style-violet .block-lightcolor.comment_new_comments a, body.style-violet .block-lightcolor.comment_new_comments a:link, body.style-violet .block-lightcolor.comment_new_comments a:visited ,
body.style-violet .block-lightcolor .comment_comments a, body.style-violet .block-lightcolor .comment_comments a:link,body.style-violet .block-lightcolor .comment_comments a:visited,
body.style-violet .block-lightcolor .node_read_more a, body.style-violet .block-lightcolor .node_read_more a:link,body.style-violet .block-lightcolor .node_read_more a:visited,
body.style-violet .block-lightcolor .blog_usernames_blog a, body.style-violet .block-lightcolor .blog_usernames_blog a:link, body.style-violet .block-lightcolor .blog_usernames_blog a:visited,
body.style-violet .block-lightcolor .comment_forbidden a, body.style-violet .block-lightcolor .comment_forbidden a:link, body.style-violet .block-lightcolor .comment_forbidden a:visited,
body.style-violet .block-lightcolor.block-poll ul.links li a,body.style-violet .block-lightcolor.block-poll ul.links li a:link,body.style-violet .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#3E144E;
	border:1px solid #5D1D74;
	color: #E5D4EB;	
}

body.style-violet .block-lightcolor .node_read a:hover,
body.style-violet .block-lightcolor .comment_add a:hover,
body.style-violet .block-lightcolor .book_add_child a:hover,
body.style-violet .block-lightcolor .book_printer a:hover,
body.style-violet .block-lightcolor .upload_attachments a:hover,
body.style-violet .block-lightcolor .comment_new_comments a:hover,
body.style-violet .block-lightcolor .comment_comments a:hover,
body.style-violet .block-lightcolor .node_read_more a:hover,
body.style-violet .block-lightcolor .blog_usernames_blog a:hover,
body.style-violet .block-lightcolor .comment_forbidden a:hover,
body.style-violet .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#5D1D74;
	border:1px solid #3E144E;
	color: #E5D4EB; 
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-violet #search {
    background-image: url("../images/search-box.png");
	}