
/* Background colors */

body.style-olive #preface-top-wrapper,
body.style-olive #smooth-header,
body.style-olive #social-network,
body.style-olive #footer-group,
body.style-olive ul.pager li.pager-current,
body.style-olive  div.poll div.bar div.foreground ,
body.style-olive .block.nav-menu-list ul li a:hover,
body.style-olive .block.nav-menu-list ul li.active-trail a {
    background-color: #2F3600; /* 5 */
}

/* Text Colors Light */
body.style-olive .block-lightcolor ,
body.style-olive .block-lightcolor a,
body.style-olive .block-lightcolor a:link,
body.style-olive .block-lightcolor a:visited,
body.style-olive .lightcolor,
body.style-olive ul.pager li.pager-current,
body.style-olive #footer h2.title,
body.style-olive #social-network,
body.style-olive .block.nav-menu-list ul li a:hover,
body.style-olive .block.nav-menu-list ul li.active-trail a  {
    color: #E4EACB; /* 1 */
}
/* Light Background */
body.style-olive div.poll div.bar {
	background-color: #4A5200; /*  4 */
}


/* Text Colors Highlights */
body.style-olive a,
body.style-olive a:link,
body.style-olive a:visited,

body.style-olive .block-highlight,
body.style-olive .block-highlight a,
body.style-olive #search input.form-text,
.highlight {
color: #2F3600; /* 5 */
}

/* normal button style */
body.style-olive .node_read a,
body.style-olive .comment_add a,
body.style-olive .book_add_child a,
body.style-olive .book_printer a,
body.style-olive .upload_attachments a,
body.style-olive .comment_new_comments a,
body.style-olive .comment_comments a,
body.style-olive .node_read_more a,
body.style-olive .blog_usernames_blog a,
body.style-olive .comment_forbidden a,
body.style-olive ul.pager a:link, ul.pager a:visited,
body.style-olive .block-poll ul.links li a {
/*	background-color:#FFF; /* fixed color */
/*	border:1px solid #d3d3d3; /* fixed color */
}

body.style-olive .node_read a:hover,
body.style-olive .comment_add a:hover,
body.style-olive .book_add_child a:hover,
body.style-olive .book_printer a:hover,
body.style-olive .upload_attachments a:hover,
body.style-olive .comment_new_comments a:hover,
body.style-olive .comment_comments a:hover,
body.style-olive .node_read_more a:hover,
body.style-olive .blog_usernames_blog a:hover,
body.style-olive .comment_forbidden a:hover,
body.style-olive ul.pager a:hover,
body.style-olive .block-poll ul.links li a:hover{
/*	background-color:#2F3600; /* 5 */
/*	border:1px solid #4A5200; /*  4 */
/*	color: #D6DFB2; /*  2 */; 
}

/* Border Bottom */
body.style-olive div.tweet-hr,
body.style-olive .block.menu-list2 ul li {
    border-bottom: 1px solid #4A5200;
}

/* normal button style end */

/* LIGHTCOLOR button style */
body.style-olive .block-contact_form_blocks.block-lightcolor input,
body.style-olive .block-contact_form_blocks.block-lightcolor textarea,
body.style-olive .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-olive .block-lightcolor .node_read a, body.style-olive .block-lightcolor .node_read a:link,body.style-olive .block-lightcolor .node_read a:visited,
body.style-olive .block-lightcolor .comment_add a, body.style-olive .block-lightcolor .comment_add a:link,body.style-olive .block-lightcolor .comment_add a:visited,
body.style-olive  .block-lightcolor.book_add_child a, body.style-olive  .block-lightcolor.book_add_child a:link,body.style-olive  .block-lightcolor.book_add_child a:visited,
body.style-olive .block-lightcolor.book_printer a, body.style-olive .block-lightcolor.book_printer a:link,body.style-olive .block-lightcolor.book_printer a:visited,
body.style-olive .block-lightcolor .upload_attachments a,body.style-olive .block-lightcolor .upload_attachments a:link,body.style-olive .block-lightcolor .upload_attachments a:visited,
body.style-olive .block-lightcolor.comment_new_comments a, body.style-olive .block-lightcolor.comment_new_comments a:link, body.style-olive .block-lightcolor.comment_new_comments a:visited ,
body.style-olive .block-lightcolor .comment_comments a, body.style-olive .block-lightcolor .comment_comments a:link,body.style-olive .block-lightcolor .comment_comments a:visited,
body.style-olive .block-lightcolor .node_read_more a, body.style-olive .block-lightcolor .node_read_more a:link,body.style-olive .block-lightcolor .node_read_more a:visited,
body.style-olive .block-lightcolor .blog_usernames_blog a, body.style-olive .block-lightcolor .blog_usernames_blog a:link, body.style-olive .block-lightcolor .blog_usernames_blog a:visited,
body.style-olive .block-lightcolor .comment_forbidden a, body.style-olive .block-lightcolor .comment_forbidden a:link, body.style-olive .block-lightcolor .comment_forbidden a:visited,
body.style-olive .block-lightcolor.block-poll ul.links li a,body.style-olive .block-lightcolor.block-poll ul.links li a:link,body.style-olive .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#2F3600; /* 5 */
	border:1px solid #4A5200; /*  4 */
	color: #E4EACB;	/* 1 */
}

body.style-olive .block-lightcolor .node_read a:hover,
body.style-olive .block-lightcolor .comment_add a:hover,
body.style-olive .block-lightcolor .book_add_child a:hover,
body.style-olive .block-lightcolor .book_printer a:hover,
body.style-olive .block-lightcolor .upload_attachments a:hover,
body.style-olive .block-lightcolor .comment_new_comments a:hover,
body.style-olive .block-lightcolor .comment_comments a:hover,
body.style-olive .block-lightcolor .node_read_more a:hover,
body.style-olive .block-lightcolor .blog_usernames_blog a:hover,
body.style-olive .block-lightcolor .comment_forbidden a:hover,
body.style-olive .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#4A5200; /*  4 */
	border:1px solid #2F3600; /* 5 */
	color: #E4EACB; /* 1 */
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-olive #search {
    background-image: url("../images/search-box.png");
	}