
/* Background colors */

body.style-turquoise #preface-top-wrapper,
body.style-turquoise #smooth-header,
body.style-turquoise #social-network,
body.style-turquoise #footer-group,
body.style-turquoise ul.pager li.pager-current,
body.style-turquoise  div.poll div.bar div.foreground ,
body.style-turquoise .block.nav-menu-list ul li a:hover,
body.style-turquoise .block.nav-menu-list ul li.active-trail a {
    background-color: #005B5A; /* 5 */
}

/* Text Colors Light */
body.style-turquoise .block-lightcolor ,
body.style-turquoise .block-lightcolor a,
body.style-turquoise .block-lightcolor a:link,
body.style-turquoise .block-lightcolor a:visited,
body.style-turquoise .lightcolor,
body.style-turquoise ul.pager li.pager-current,
body.style-turquoise #footer h2.title,
body.style-turquoise #social-network,
body.style-turquoise .block.nav-menu-list ul li a:hover,
body.style-turquoise .block.nav-menu-list ul li.active-trail a  {
    color: #D6F3F0; /* 1 */
}
/* Light Background */
body.style-turquoise div.poll div.bar {
	background-color: #009488; /*  4 */
}


/* Text Colors Highlights */
body.style-turquoise a,
body.style-turquoise a:link,
body.style-turquoise a:visited,

body.style-turquoise .block-highlight,
body.style-turquoise .block-highlight a,
body.style-turquoise #search input.form-text,
.highlight {
color: #005B5A; /* 5 */
}

/* normal button style */
body.style-turquoise .node_read a,
body.style-turquoise .comment_add a,
body.style-turquoise .book_add_child a,
body.style-turquoise .book_printer a,
body.style-turquoise .upload_attachments a,
body.style-turquoise .comment_new_comments a,
body.style-turquoise .comment_comments a,
body.style-turquoise .node_read_more a,
body.style-turquoise .blog_usernames_blog a,
body.style-turquoise .comment_forbidden a,
body.style-turquoise ul.pager a:link, ul.pager a:visited,
body.style-turquoise .block-poll ul.links li a {
/*	background-color:#FFF; /* fixed color */
/*	border:1px solid #d3d3d3; /* fixed color */
}

body.style-turquoise .node_read a:hover,
body.style-turquoise .comment_add a:hover,
body.style-turquoise .book_add_child a:hover,
body.style-turquoise .book_printer a:hover,
body.style-turquoise .upload_attachments a:hover,
body.style-turquoise .comment_new_comments a:hover,
body.style-turquoise .comment_comments a:hover,
body.style-turquoise .node_read_more a:hover,
body.style-turquoise .blog_usernames_blog a:hover,
body.style-turquoise .comment_forbidden a:hover,
body.style-turquoise ul.pager a:hover,
body.style-turquoise .block-poll ul.links li a:hover{
/*	background-color:#005B5A; /* 5 */
/*	border:1px solid #009488; /*  4 */
/*	color: #99E1DA; /*  2 */; 
}
/* Border Bottom */
body.style-turquoise div.tweet-hr,
body.style-turquoise .block.menu-list2 ul li {
    border-bottom: 1px solid #009488;
}

/* normal button style end */

/* LIGHTCOLOR button style */
body.style-turquoise .block-contact_form_blocks.block-lightcolor input,
body.style-turquoise .block-contact_form_blocks.block-lightcolor textarea,
body.style-turquoise .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-turquoise .block-lightcolor .node_read a, body.style-turquoise .block-lightcolor .node_read a:link,body.style-turquoise .block-lightcolor .node_read a:visited,
body.style-turquoise .block-lightcolor .comment_add a, body.style-turquoise .block-lightcolor .comment_add a:link,body.style-turquoise .block-lightcolor .comment_add a:visited,
body.style-turquoise  .block-lightcolor.book_add_child a, body.style-turquoise  .block-lightcolor.book_add_child a:link,body.style-turquoise  .block-lightcolor.book_add_child a:visited,
body.style-turquoise .block-lightcolor.book_printer a, body.style-turquoise .block-lightcolor.book_printer a:link,body.style-turquoise .block-lightcolor.book_printer a:visited,
body.style-turquoise .block-lightcolor .upload_attachments a,body.style-turquoise .block-lightcolor .upload_attachments a:link,body.style-turquoise .block-lightcolor .upload_attachments a:visited,
body.style-turquoise .block-lightcolor.comment_new_comments a, body.style-turquoise .block-lightcolor.comment_new_comments a:link, body.style-turquoise .block-lightcolor.comment_new_comments a:visited ,
body.style-turquoise .block-lightcolor .comment_comments a, body.style-turquoise .block-lightcolor .comment_comments a:link,body.style-turquoise .block-lightcolor .comment_comments a:visited,
body.style-turquoise .block-lightcolor .node_read_more a, body.style-turquoise .block-lightcolor .node_read_more a:link,body.style-turquoise .block-lightcolor .node_read_more a:visited,
body.style-turquoise .block-lightcolor .blog_usernames_blog a, body.style-turquoise .block-lightcolor .blog_usernames_blog a:link, body.style-turquoise .block-lightcolor .blog_usernames_blog a:visited,
body.style-turquoise .block-lightcolor .comment_forbidden a, body.style-turquoise .block-lightcolor .comment_forbidden a:link, body.style-turquoise .block-lightcolor .comment_forbidden a:visited,
body.style-turquoise .block-lightcolor.block-poll ul.links li a,body.style-turquoise .block-lightcolor.block-poll ul.links li a:link,body.style-turquoise .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#005B5A; /* 5 */
	border:1px solid #009488; /*  4 */
	color: #D6F3F0;	/* 1 */
}

body.style-turquoise .block-lightcolor .node_read a:hover,
body.style-turquoise .block-lightcolor .comment_add a:hover,
body.style-turquoise .block-lightcolor .book_add_child a:hover,
body.style-turquoise .block-lightcolor .book_printer a:hover,
body.style-turquoise .block-lightcolor .upload_attachments a:hover,
body.style-turquoise .block-lightcolor .comment_new_comments a:hover,
body.style-turquoise .block-lightcolor .comment_comments a:hover,
body.style-turquoise .block-lightcolor .node_read_more a:hover,
body.style-turquoise .block-lightcolor .blog_usernames_blog a:hover,
body.style-turquoise .block-lightcolor .comment_forbidden a:hover,
body.style-turquoise .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#009488; /*  4 */
	border:1px solid #005B5A; /* 5 */
	color: #D6F3F0; /* 1 */
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-turquoise #search {
    background-image: url("../images/search-box.png");
	}