
/* Background colors */

body.style-azure #preface-top-wrapper,
body.style-azure #smooth-header,
body.style-azure #social-network,
body.style-azure #footer-group,
body.style-azure ul.pager li.pager-current,
body.style-azure  div.poll div.bar div.foreground ,
body.style-azure .block.nav-menu-list ul li a:hover,
body.style-azure .block.nav-menu-list ul li.active-trail a {
    background-color: #004B8F; /* 5 */
}

/* Text Colors Light */
body.style-azure .block-lightcolor ,
body.style-azure .block-lightcolor a,
body.style-azure .block-lightcolor a:link,
body.style-azure .block-lightcolor a:visited,
body.style-azure .lightcolor,
body.style-azure ul.pager li.pager-current,
body.style-azure #footer h2.title,
body.style-azure #social-network,
body.style-azure .block.nav-menu-list ul li a:hover,
body.style-azure .block.nav-menu-list ul li.active-trail a  {
    color: #CCE7FF; /* 1 */
}
/* Light Background */
body.style-azure div.poll div.bar {
	background-color: #0064BF; /*  4 */
}


/* Text Colors Highlights */
body.style-azure a,
body.style-azure a:link,
body.style-azure a:visited,

body.style-azure .block-highlight,
body.style-azure .block-highlight a,
body.style-azure #search input.form-text,
.highlight {
color: #004B8F; /* 5 */
}

/* normal button style */
body.style-azure .node_read a,
body.style-azure .comment_add a,
body.style-azure .book_add_child a,
body.style-azure .book_printer a,
body.style-azure .upload_attachments a,
body.style-azure .comment_new_comments a,
body.style-azure .comment_comments a,
body.style-azure .node_read_more a,
body.style-azure .blog_usernames_blog a,
body.style-azure .comment_forbidden a,
body.style-azure ul.pager a:link, ul.pager a:visited,
body.style-azure .block-poll ul.links li a {
/*	background-color:#FFF;  fixed color 
	border:1px solid #d3d3d3;  fixed color */ 
}

body.style-azure .node_read a:hover,
body.style-azure .comment_add a:hover,
body.style-azure .book_add_child a:hover,
body.style-azure .book_printer a:hover,
body.style-azure .upload_attachments a:hover,
body.style-azure .comment_new_comments a:hover,
body.style-azure .comment_comments a:hover,
body.style-azure .node_read_more a:hover,
body.style-azure .blog_usernames_blog a:hover,
body.style-azure .comment_forbidden a:hover,
body.style-azure ul.pager a:hover,
body.style-azure .block-poll ul.links li a:hover{
/*	background-color:#004B8F;  5 
	border:1px solid #0064BF;   4 
	color: #99CEFF;   2 */; 
}
/* Border Bottom */
body.style-azure div.tweet-hr,
body.style-azure .block.menu-list2 ul li {
    border-bottom: 1px solid #0064BF;
}


/* normal button style end */

/* LIGHTCOLOR button style */
body.style-azure .block-contact_form_blocks.block-lightcolor input,
body.style-azure .block-contact_form_blocks.block-lightcolor textarea,
body.style-azure .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-azure .block-lightcolor .node_read a, body.style-azure .block-lightcolor .node_read a:link,body.style-azure .block-lightcolor .node_read a:visited,
body.style-azure .block-lightcolor .comment_add a, body.style-azure .block-lightcolor .comment_add a:link,body.style-azure .block-lightcolor .comment_add a:visited,
body.style-azure  .block-lightcolor.book_add_child a, body.style-azure  .block-lightcolor.book_add_child a:link,body.style-azure  .block-lightcolor.book_add_child a:visited,
body.style-azure .block-lightcolor.book_printer a, body.style-azure .block-lightcolor.book_printer a:link,body.style-azure .block-lightcolor.book_printer a:visited,
body.style-azure .block-lightcolor .upload_attachments a,body.style-azure .block-lightcolor .upload_attachments a:link,body.style-azure .block-lightcolor .upload_attachments a:visited,
body.style-azure .block-lightcolor.comment_new_comments a, body.style-azure .block-lightcolor.comment_new_comments a:link, body.style-azure .block-lightcolor.comment_new_comments a:visited ,
body.style-azure .block-lightcolor .comment_comments a, body.style-azure .block-lightcolor .comment_comments a:link,body.style-azure .block-lightcolor .comment_comments a:visited,
body.style-azure .block-lightcolor .node_read_more a, body.style-azure .block-lightcolor .node_read_more a:link,body.style-azure .block-lightcolor .node_read_more a:visited,
body.style-azure .block-lightcolor .blog_usernames_blog a, body.style-azure .block-lightcolor .blog_usernames_blog a:link, body.style-azure .block-lightcolor .blog_usernames_blog a:visited,
body.style-azure .block-lightcolor .comment_forbidden a, body.style-azure .block-lightcolor .comment_forbidden a:link, body.style-azure .block-lightcolor .comment_forbidden a:visited,
body.style-azure .block-lightcolor.block-poll ul.links li a,body.style-azure .block-lightcolor.block-poll ul.links li a:link,body.style-azure .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#004B8F; /* 5 */
	border:1px solid #0064BF; /*  4 */
	color: #CCE7FF;	/* 1 */
}

body.style-azure .block-lightcolor .node_read a:hover,
body.style-azure .block-lightcolor .comment_add a:hover,
body.style-azure .block-lightcolor .book_add_child a:hover,
body.style-azure .block-lightcolor .book_printer a:hover,
body.style-azure .block-lightcolor .upload_attachments a:hover,
body.style-azure .block-lightcolor .comment_new_comments a:hover,
body.style-azure .block-lightcolor .comment_comments a:hover,
body.style-azure .block-lightcolor .node_read_more a:hover,
body.style-azure .block-lightcolor .blog_usernames_blog a:hover,
body.style-azure .block-lightcolor .comment_forbidden a:hover,
body.style-azure .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#0064BF; /*  4 */
	border:1px solid #004B8F; /* 5 */
	color: #CCE7FF; /* 1 */
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-azure #search {
    background-image: url("../images/search-box.png");
	}