
/* Background colors */

body.style-lemon #preface-top-wrapper,
body.style-lemon #smooth-header,
body.style-lemon #social-network,
body.style-lemon #footer-group,
body.style-lemon ul.pager li.pager-current,
body.style-lemon  div.poll div.bar div.foreground ,
body.style-lemon .block.nav-menu-list ul li a:hover,
body.style-lemon .block.nav-menu-list ul li.active-trail a {
    background-color: #E3AC00; /* 5 */
}

/* Text Colors Light */
body.style-lemon .block-lightcolor ,
body.style-lemon .block-lightcolor a,
body.style-lemon .block-lightcolor a:link,
body.style-lemon .block-lightcolor a:visited,
body.style-lemon .lightcolor,
body.style-lemon ul.pager li.pager-current,
body.style-lemon #footer h2.title,
body.style-lemon #social-network,
body.style-lemon .block.nav-menu-list ul li a:hover,
body.style-lemon .block.nav-menu-list ul li.active-trail a  {
    color: #FFFA99; /* 1 */
}
/* Light Background */
body.style-lemon div.poll div.bar {
	background-color: #FFD400; /*  4 */
}


/* Text Colors Highlights */
body.style-lemon a,
body.style-lemon a:link,
body.style-lemon a:visited,

body.style-lemon .block-highlight,
body.style-lemon .block-highlight a,
body.style-lemon #search input.form-text,
.highlight {
color: #E3AC00; /* 5 */
}

/* normal button style */
body.style-lemon .node_read a,
body.style-lemon .comment_add a,
body.style-lemon .book_add_child a,
body.style-lemon .book_printer a,
body.style-lemon .upload_attachments a,
body.style-lemon .comment_new_comments a,
body.style-lemon .comment_comments a,
body.style-lemon .node_read_more a,
body.style-lemon .blog_usernames_blog a,
body.style-lemon .comment_forbidden a,
body.style-lemon ul.pager a:link, ul.pager a:visited,
body.style-lemon .block-poll ul.links li a {
/*	background-color:#FFF; 
	border:1px solid #d3d3d3; */
}

body.style-lemon .node_read a:hover,
body.style-lemon .comment_add a:hover,
body.style-lemon .book_add_child a:hover,
body.style-lemon .book_printer a:hover,
body.style-lemon .upload_attachments a:hover,
body.style-lemon .comment_new_comments a:hover,
body.style-lemon .comment_comments a:hover,
body.style-lemon .node_read_more a:hover,
body.style-lemon .blog_usernames_blog a:hover,
body.style-lemon .comment_forbidden a:hover,
body.style-lemon ul.pager a:hover,
body.style-lemon .block-poll ul.links li a:hover{
/*	background-color:#E3AC00; /* 5 */
/*	border:1px solid #FFD400; /*  4 */
/*	color: #FFF300; /*  2 */; 
}
/* Border Bottom */
body.style-lemon div.tweet-hr,
body.style-lemon .block.menu-list2 ul li {
    border-bottom: 1px solid #FFD400;
}


/* normal button style end */

/* LIGHTCOLOR button style */
body.style-lemon .block-contact_form_blocks.block-lightcolor input,
body.style-lemon .block-contact_form_blocks.block-lightcolor textarea,
body.style-lemon .block-contact_form_blocks.block-lightcolor .resizable-textarea .grippie ,
body.style-lemon .block-lightcolor .node_read a, body.style-lemon .block-lightcolor .node_read a:link,body.style-lemon .block-lightcolor .node_read a:visited,
body.style-lemon .block-lightcolor .comment_add a, body.style-lemon .block-lightcolor .comment_add a:link,body.style-lemon .block-lightcolor .comment_add a:visited,
body.style-lemon  .block-lightcolor.book_add_child a, body.style-lemon  .block-lightcolor.book_add_child a:link,body.style-lemon  .block-lightcolor.book_add_child a:visited,
body.style-lemon .block-lightcolor.book_printer a, body.style-lemon .block-lightcolor.book_printer a:link,body.style-lemon .block-lightcolor.book_printer a:visited,
body.style-lemon .block-lightcolor .upload_attachments a,body.style-lemon .block-lightcolor .upload_attachments a:link,body.style-lemon .block-lightcolor .upload_attachments a:visited,
body.style-lemon .block-lightcolor.comment_new_comments a, body.style-lemon .block-lightcolor.comment_new_comments a:link, body.style-lemon .block-lightcolor.comment_new_comments a:visited ,
body.style-lemon .block-lightcolor .comment_comments a, body.style-lemon .block-lightcolor .comment_comments a:link,body.style-lemon .block-lightcolor .comment_comments a:visited,
body.style-lemon .block-lightcolor .node_read_more a, body.style-lemon .block-lightcolor .node_read_more a:link,body.style-lemon .block-lightcolor .node_read_more a:visited,
body.style-lemon .block-lightcolor .blog_usernames_blog a, body.style-lemon .block-lightcolor .blog_usernames_blog a:link, body.style-lemon .block-lightcolor .blog_usernames_blog a:visited,
body.style-lemon .block-lightcolor .comment_forbidden a, body.style-lemon .block-lightcolor .comment_forbidden a:link, body.style-lemon .block-lightcolor .comment_forbidden a:visited,
body.style-lemon .block-lightcolor.block-poll ul.links li a,body.style-lemon .block-lightcolor.block-poll ul.links li a:link,body.style-lemon .block-lightcolor.block-poll ul.links li a:visited   {
	background-color:#E3AC00; /* 5 */
	border:1px solid #FFD400; /*  4 */
	color: #FFFA99;	/* 1 */
}

body.style-lemon .block-lightcolor .node_read a:hover,
body.style-lemon .block-lightcolor .comment_add a:hover,
body.style-lemon .block-lightcolor .book_add_child a:hover,
body.style-lemon .block-lightcolor .book_printer a:hover,
body.style-lemon .block-lightcolor .upload_attachments a:hover,
body.style-lemon .block-lightcolor .comment_new_comments a:hover,
body.style-lemon .block-lightcolor .comment_comments a:hover,
body.style-lemon .block-lightcolor .node_read_more a:hover,
body.style-lemon .block-lightcolor .blog_usernames_blog a:hover,
body.style-lemon .block-lightcolor .comment_forbidden a:hover,
body.style-lemon .block-lightcolor.block-poll ul.links li a:hover{
	background-color:#FFD400; /*  4 */
	border:1px solid #E3AC00; /* 5 */
	color: #FFFA99; /* 1 */
}
/* LIGHTCOLOR button style end */

/* Search block forum backgrund image */
body.style-lemon #search {
    background-image: url("../images/search-box.png");
	}