/*
 *  Typo Css
 *------------------------------------------------------------- */

 H1,H2,H3,H4,H5,H6 {
 /*	font-family: "HattoriHanzoLight",Calibri,sans-serif; */
	font-weight:normal;
 }
H1.big   {
	font-weight:normal;
	font-size:34px;
	line-height: 34px;
	margin-bottom:9px;
}
h1.gray {
	color:#444E69;
}
h1.gray span {
    color: #2E88C7;
}
h2.blue {
	color:#2E88C7;
}
span.violet {
    color: #753573;
}
span.bold {
font-weight:bold;
}

h2.layout {
    background: url("../images/icon-title-layout.png") no-repeat scroll 0 0 transparent;
}
h2.icon-typography{
	background: url("../images/icon-font.png") no-repeat scroll 0 0 transparent;
}
h2.icon-format{
	background: url("../images/icon-format.png") no-repeat scroll 0 0 transparent;
}
h2.icon-admin{
	background: url("../images/icon-admin.png") no-repeat scroll 0 0 transparent;
}
h2.icon-block{
	background: url("../images/icon-block.png") no-repeat scroll 0 0 transparent;
}
h2.icon-menus{
	background: url("../images/icon-menu.png") no-repeat scroll 0 0 transparent;
}
h2.icon-graphics{
	background: url("../images/icon-psd.png") no-repeat scroll 0 0 transparent;
}

.beauty {
font-size: 48px;
line-height: 48px;
margin-bottom: 0;
text-shadow: 2px 2px 1px #000;
}
.wweb{
font-size: 112px;
line-height: 80px;
margin-bottom: 0;
text-shadow: 2px 2px 2px #000;
}
.design{
	font-size: 30px;
    line-height: 30px;
    margin: 0;
}
.illus{
    font-size: 60px;
    font-weight: bold;
    line-height: 45px;
    margin: 0;
}
.paint{
    display: inline-block;
    float: left;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}
.photo{
    font-size: 15px;
    line-height: 30px;
    margin: 0;
}
.spl{
	display: inline-block;
    float: left;
    margin-right: 20px;}
.lpl{}



h2.icon-admin,
h2.icon-format,
h2.icon-typography,
h2.icon-block,
h2.icon-menus,
h2.icon-graphics,
h2.layout {
    line-height: 32px;
    padding-left: 40px;
}

ul.description-list li {
    line-height: 190%;
    list-style-image: url("../images/list-arrow-black.png");
}
ul.description-list li ul li {
    list-style-image: url("../images/bullet.png");
}

/*
 *	Buttons
 *----------------------------------------------------------------- */

 .ButtonFace {
    background: url("../images/buttonface.png") no-repeat scroll right -52px transparent;
    display: block;
    height: 52px;
    padding: 0 30px 0 0;
 }
.ButtonFace span {
	font-family: "HattoriHanzoLight",Calibri,sans-serif;
	background: url("../images/buttonface.png") no-repeat scroll left 0 transparent;
    display: block;
    padding: 13px 10px 21px 40px;
	font-size:18px;
	font-weight:normal;
 }
 .ButtonFace:active 		{background-position: right -156px;}
 .ButtonFace:active span	{background-position: left -104px;}
 
/*
 *	Block
 *------------------------------------------------------------------- */
 .content-left, .content-right {
	display:inline-block;
	float:left;
	width:49%;
}
 .contentblock-left {
	display:inline-block;
	float:left;
	margin-top: 25px;
 }
 .contentblock-right {
	display:inline-block;
	float:right;
 }
 .contentToleft {
display:inline-block; float:left; margin-right:15px;
 }
 .contentToright { 
    display: block;
    float: right;
    margin-top: 25px;
    width: 45%;
 }
 
 /* blockquet */
 blockquote{
    background: url("../images/ico_quote.gif") no-repeat scroll 10px 15px transparent;
    padding: 15px 25px 25px 50px;
}
.quote cite {
    color: #555555;
    display: block;
  /*  font-family: Arial,Helvetica,sans-serif; */
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 6px;
    text-align: right;
    text-transform: uppercase;
}
.quote-wrapper {
	background-color:#f2f2f2;
	border:1px solid #d4d4d4;
	color: #808080;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-style: italic;
	-moz-border-radius:5px; /* Firefox */
	border-radius:5px;
}
.quote {
    background: url("../images/ico_quote.gif") no-repeat scroll 10px 15px transparent;
    padding: 15px 25px 25px 50px;
}
.quote-title, .quote-author {
    color: #000000;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
}
.quote-text {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
    line-height: 29px;
    margin: 10px 0;
}
.quote-author {
    font-size: 11px;
    margin-top: 15px;
    text-align: right;
}

.node pre {
background:url("../images/typo/pre-bg.gif") repeat scroll 0 0 #E8EBEC;
border:1px dotted #BBBBBB;
border-left:12px solid #A0A0A0;
color:#333333;
font:13px/18px Consolas,"Courier New",Courier,monospace;
padding:18px 5px;
margin:20px 0;
}
.node code {
	font:13px/18px Consolas,"Courier New",Courier,monospace;
	background:none repeat scroll 0 0 #F0F0F0;
	border:2px dotted #B6B6B6;
	display:block;
	padding:10px;
}
/* Paragraph Styles */
p.download,
p.fopen,
p.fclose,
p.note,
p.word,
p.excel,
p.ppoint,
p.pdf,
p.report,
p.zip,
p.userm,
p.userf,
p.check,
p.arrow,
p.star,
p.alert,
p.cancel,
p.info,
p.image,
p.music,
p.video {
	display:block;
	min-height:19px;
	padding:4px 0 4px 21px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	background-color: transparent;
	line-height:1.3em;
}
p.download{background-image: url("../images/typo/download.png");}
p.alert{background-image: url("../images/typo/alert.png");}
p.info{background-image: url("../images/typo/info.png");}
p.check{background-image: url("../images/typo/check.png");}
p.cancel{background-image: url("../images/typo/cancel.png");}
p.star{background-image: url("../images/typo/star.png");}
p.arrow{background-image: url("../images/typo/arrow.png");}
p.userm{background-image: url("../images/typo/userm.png");}
p.userf{background-image: url("../images/typo/userf.png");}
p.fopen{background-image: url("../images/typo/folder-open.png");}
p.fclose{background-image: url("../images/typo/folder-close.png");}
p.image{background-image: url("../images/typo/image.png");}
p.word{background-image: url("../images/typo/word.png");}
p.excel{background-image: url("../images/typo/excel.png");}
p.ppoint{background-image: url("../images/typo/powerpoint.png");}
p.pdf{background-image: url("../images/typo/pdf.png");}
p.music{background-image: url("../images/typo/music.png");}
p.zip{background-image: url("../images/typo/zip.png");}
p.video{background-image: url("../images/typo/video.png");}
p.report{background-image: url("../images/typo/report.png");}

/* Messaging Box styles */
div.msg-status,
div.msg-warning,
div.msg-error,
div.msg-info {
	border-style:solid;
	border-width:1px;
	margin:18px 0;
	padding:13px 15px;
}

div.msg-status {
	background: #e3ffe4;
	border: 1px solid #bbe6bd;
	}
div.msg-info {
	background:none repeat scroll 0 0 #cbeef6;
	border-color:#6ad3e5;
}
div.msg-error {
	background:none repeat scroll 0 0 #FEE2E2;
	border-color:#d53044;
}
div.msg-warning {
	background:none repeat scroll 0 0 #FDF4E2;
	border-color:#FBA903;
}