/* START Photo Gallery Landing */
#gallery_photos {
	overflow: hidden;
	background-color: #cccccc;
	padding: 10px;
	margin-top: 20px;
	width: 500px;
	clear: both;
}

#gallery_photos .image_node {
	float: left;
	margin: 4px;
	border: 1px solid #ffcc00;
	height: 114px;
	width: 114px;
}

.promo_image_photo {
	position: relative;
	margin-top:15px;
	margin-left: 38px;
	
	
	}

.promo_image_gallery {
	position: relative;
	margin-top:15px;
	margin-left: 38px;
	
	
	}

.photo_count {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	float:right;
	background-color: #cccccc;
	font-weight: bold;
	overflow: hidden;
	position: relative;
}

.photo_count a {
	color: #000000;
	text-decoration: underline;
}

.photo_count a span {
	color: #3399cc;
	text-decoration: underline;
}
/* END Photo Gallery Landing */
/* START Photo Gallery Large Image */
#photo_title, #photo_title a, #photo_title a:hover, 
#photo_title a:link, #photo_title a:active {
	text-align:center;
	text-decoration: none;
	width: 300px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Arial, Verdana;
	font-weight: bold;
	font-size: 18px;
	color: #3399cc;
}

#photo_wrapper {
	text-align: center;
}

#photo_title span {
	text-align:center;
	font-family: Arial, Verdana;
	font-weight: bold;
	color: #000000;
	border-bottom: 2px solid #3399cc;
}
 
 #image_title {
 	font-weight: bold;
	text-decoration: underline;
	clear: both;
 }

#photo_body {
	margin-top: 0px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#photo_body img {
	border: 1px solid #ff9900;
}

#photo_bottom {
	position: relative;
}

.image_title {
	font-wieght: bold;
	text-decoration: underline;
}

.full-size {
	width: 115px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #cccccc;
	font-weight: bold;
	position: relative;
	left: 350px;
}

.full-size a, .full-size a:hover, .full-size a:active {
	color: #3399cc;
}

#tp {
	visibility: hidden;
}
#gallery_carousel {
		width: 390px;
		overflow: hidden;
		height: 116px;
		float: left;
		position:relative;
}

#photo_gallery_nav #gallery_carousel {
		width: 260px;
}
	
#gallery_carousel_inner {
	position: relative;

}
	
#gallery_carousel_inner div {
	float: left;
	margin: 0px 4px;
}
	
#carousel_nav {
	width: 431px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 20px;
}

#photo_gallery_nav {
	width: 300px;
}
	
.nav_control {
	float: left;
}
	
.nav_control a, .nav_control a:hover, .nav_control a:active {
	font-family: Arial, Verdana;
	font-weight: bold;
	color: #000000;
	font-size: 12px;
	text-decoration: none;
	display: block;
	width: 14px;
}

.nav_control a span {
	display:none;
}

#scroll_left a {
	height: 87px;
	background: url(images/gal_car_arrows.png) no-repeat 0px -180px;
}

#scroll_left a:hover, #scroll_left a:active {
	background: url(images/gal_car_arrows.png) no-repeat 0px -270px;
}

#scroll_right a {
	height: 87px;
	background: url(images/gal_car_arrows.png) no-repeat 0 0;
}

#scroll_right a:hover, #scroll_right a:active {
	background: url(images/gal_car_arrows.png) no-repeat 0px -90px;
}
.carousel_item a img {
	border: 1px solid white;
	width: 55px;
	height: 55px;
}
	
.carousel_item a:hover img, .carousel_item a:active img{
	border-color: #ff9900;
}
	
#pan_right {
	float: right;
}

#pan_left {
		
}
#image_source {
	font-family: Arial, Verdana;
	font-size: 10px;
}
	
#image_source span {
	background-color: #ff9900;
	color: #ffffff;
	padding: 3px;
	text-decoration: underline;
}

#photo_paging {
	/*width: 100%;*/
	position: relative;
	height: 20px;
	overflow: hidden;
}

#next_image {
	float: right;
	left: -32px;
	position: relative;
}

#prev_image {
	float: left;
}
/* END Photo Gallery Large Image */