#gallery-body {
	width: 100%;
	margin: 10px auto;	
}

#gallery-content {
	min-height: 300px;
}

#gallery-loader {
	text-align: center;	
}

#gallery-loader-inner {}

#gallery-loader #gallery-loader-image {
	background: url('../images/ajax-loader.gif');	
	margin: 200px auto;	
	height: 31px;
	width: 31px;
}

.gallery-content-image {
	text-align: center;
}

#gallery-controls #gallery-control-prev {
	display: block;
	float: left;
}

#gallery-controls #gallery-control-next {
	display: block;
	float: right;
}

#gallery-thumbnails {
	visibility: hidden;
}