ul.custom-pager {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.custom-pager li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 32%;
  list-style-type: none;
  list-style-image: none;
  background: none;
  white-space: nowrap;
}