/* Landing Page */
div#sxsw-flyers {
	width: 830px;
	
}

div#sxsw-flyers table {
	width: 100%;
}

div#sxsw-flyers table tbody tr#sxsw-header td img {
	width: 830px;	
	border: 1px #4c4c4c solid;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td img.sxsw-thumbnail {
	height: 75px;
	border: 1px #4c4c4c solid;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown {		
	width: 100px;	
	vertical-align: top;

}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown div#box {	
	background: #dedddb;	
	height: 75px;
	text-align: center;
	border: 1px #4c4c4c solid;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown div#box div#top {	
	font-size: 11px;	
	background: #C8C7C5;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown div#box div#bottom {	
	font-size: 45px;
	line-height: 50px;
	font-weight: bold;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown div#countdown-out div#countdown-in span {
	
	display: block;
}

div#sxsw-flyers table tbody tr#sxsw-flyers td#countdown div#countdown-out div#countdown-in span#days {
	font-weight: bold;	
	margin: 0;
	padding: 0;
	background: #dedddb;
	font-size: 30px;
}

/* NAV */
div#sxsw-nav {
	width: 300px;
}

div#sxsw-nav div#nav-header {
	width: 100%;
	
}

div#sxsw-nav div#nav-header div#text {
	font-size: 16px;
	color: #28AAE1;
	float: left;
	font-family: Verdana,Geneva,sans-serif;
	font-weight: bold;
	height: 14px;	
	width: 240px;
}

div#sxsw-nav div#nav-header div#bar {	
	float: left;
	height: 8px;
	width: 60px;
	margin-left: 0;
	margin-top: 7px;
	margin-bottom: 10px;
	background-color: #28AAE1;
}

div#sxsw-nav div#sxsw-nav-links {
	margin-top: 10px;
}

div#sxsw-nav div#sxsw-nav-links a {
	display: block;
	width: 300px;
	height: 75px;
	margin: -10px auto;
}

div#sxsw-nav div#sxsw-nav-links a span {
	position: absolute;
	top: -999em;
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-news {	
	background: url("../images/sprite-news.png") no-repeat 0 0;	
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-news:hover {
	background-position: 0 -75px;
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-photos {	
	background: url("../images/sprite-photos.png") no-repeat 0 0;	
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-photos:hover {
	background-position: 0 -75px;
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-videos {	
	background: url("../images/sprite-videos.png") no-repeat 0 0;	
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-videos:hover {
	background-position: 0 -75px;
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-rsvp {	
	background: url("../images/sprite-rsvp.png") no-repeat 0 0;	
}

div#sxsw-nav div#sxsw-nav-links a#sxsw-rsvp:hover {
	background-position: 0 -75px;
}

/* LATEST ON SXSW */
#latest_on_sxsw {
	width: 830px;
}

#latest_on_sxsw_header {
	height: 14px;
	font-family: Verdana;
	font-size: 18px;
	margin-bottom: 15px;
	margin-top: -8px; 
	padding-left: 8px;
}

.latest_on_sxsw_header_text {
	color: #28aae1;
	font-weight: bold;
	float: left;
}
  
.latest_on_sxsw_section {
	color: #3f3d49;
}
  
#latest_on_sxsw_header_bar {
	height:8px; 
	background-color: #28aae1;
	margin-top: 7px;
	float: left;
	margin-left: 5px;
}

div#latest_on_sxsw div#latest_on_sxsw_posts div.views-row div.latest_on_vibe_post {
	width: 820px;
	margin-top: 10px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	height: auto !important;

}

div#latest_on_sxsw div#latest_on_sxsw_posts div.views-row div.latest_on_vibe_post div.latest_on_vibe_excerpt div.latest_on_vibe_title {
	width: 650px;
}

div#latest_on_sxsw div#latest_on_sxsw_posts div.views-row div.latest_on_vibe_post div.latest_on_vibe_excerpt {
	float: left;
	width: 650px;
	margin-left: 10px;
}

.latest_on_sxsw_teaser {
	font-size: 12px;
	font: Arial, Helvetica, sans-serif;
	line-height:13px;
	margin-bottom: 5px;
}

.latest_on_sxsw_info, .latest_on_sxsw_info a {	  	
	font:Arial, Helvetica, sans-serif;
	font-size: 10.5px;
	line-height:14px;
	color:#098ec1;
	text-decoration:none;
}











