div#sxsw-rsvp-thankyou-message {
	border: #33a333 2px solid;
	background-color: #c7f2c8;
	padding: 5px;
}

form#sxsw-rsvp-form div.sxsw-clear-fix {
	clear: both;
}

form#sxsw-rsvp-form div#form-wrapper {
	margin: auto;
}

form#sxsw-rsvp-form fieldset {
	border: 3px solid #403E4A;
}

form#sxsw-rsvp-form fieldset legend {	
	padding: 0 5px 9px 5px;	
	font-size: large;
	font-weight: bold;
	color: #403E4A;
}

form#sxsw-rsvp-form div#form-wrapper fieldset div.section-title {
	color: #403E4A;
	font-size: 18px;
	font-weight: bold;
	height: 16px;
	margin: 5px;
	font-family: Verdana,Geneva,sans-serif;
	float: left;
}

form#sxsw-rsvp-form div#form-wrapper fieldset div.section-bar {	
	width: 250px;
	height: 5px;
	background-color: #403E4A;	
	float: left;
	margin: 16px 0 0 0;
}

form#sxsw-rsvp-form div#form-wrapper fieldset div.section-description {
	font-size: small;
	margin-left: 5px;
}


form#sxsw-rsvp-form div#form-wrapper div.form-item label {
	color: #403E4A;
}

form#sxsw-rsvp-form div#form-wrapper fieldset div.description {
	font-size: small;
	margin-left: 5px;
}

form#sxsw-rsvp-form div#form-wrapper fieldset div.form-item div.description {
	font-style: normal;
	font-size: x-small;
	margin: 0;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-contact div.form-item {
	float: left;
	margin: 5px;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-dates div.form-checkboxes {
	margin: auto;	
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-dates div.form-checkboxes div.form-item {
	float: left;
	margin: 5px 20px 5px 5px;
}

form#sxsw-rsvp-form div#edit-guest1Confirm-wrapper, form#sxsw-rsvp-form div#edit-guest2Confirm-wrapper {
	font-size: x-small;
}



form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests div#guest1, form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests div#guest2 {
	float: left;
	width: 40%;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests fieldset {
	border: 1px solid #403E4A;	
}

form#sxsw-rsvp-form  div#form-wrapper fieldset#rsvp-guests fieldset legend {
	font-size: medium;
	font-weight: normal;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests fieldset#rsvp-guest1 {
	float: left;
	width: 45%;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests fieldset#rsvp-guest2 {
	float: right;
	width: 45%;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-contact div.form-item input.form-text {
	width: 180px;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-contact div.form-item input#edit-zip {
	width: 80px;
}

form#sxsw-rsvp-form div#form-wrapper fieldset#rsvp-guests div.form-item input.form-text {
	width: 180px;
}

