/* $Id: sidebars-normal-liquid.css,v 1.1 2009/09/25 03:37:34 garrettalbright Exp $ */

/* Liquid layout; standard sidebar placement */

#sidebar-left {
  width: LSB-SBpx;
}

#sidebar-right {
  width: RSB-SBpx;
}

.sidebar-left #content-inner, .two-sidebars #content-inner {
  padding-left: LSB-SBpx;
}

.sidebar-right #content-inner, .two-sidebars #content-inner {
  padding-right: RSB-SBpx;
}